
.bg{
    background-image: url(era\ img/blob.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.cl{
    background-color: #FB916C4D !important;
    color: #FB916C !important;
}

@media screen and (max-width: 780px) {
   .bh{
    margin-top: 15px;
   }
  }
